<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">
			<div class="postcontent nobottommargin clearfix">
				<div class="single-post nobottommargin">
					<div class="entry clearfix">
						<div class="col_full portfolio-single-image">
							<!-- VIDEO CONTENT -->
							<iframe width="500" height="315" src="https://www.youtube.com/embed/8c3i5yJ89go?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
						</div>
						<div class="tutorial-content" class="entry-content notopmargin">
							<div class="fancy-title title-dotted-border title-center">
								<h2><%= @lesson_title %></h2>
							</div>
							<!-- BODY START -->
							<h3>To remove a program from the dock:</h3>
							<ul>
								<li>Right click the program icon in the Dock</li>
								<li>Select Options => Remove from Dock</li>
							</ul>
							<h3>To open a program without using the Dock:</h3>
							<ul>
								<li>Press F4 to open up the Launchpad (which shows all installed programs)</li>
								<li>Start typing in the name of the program</li>
								<li>Press Enter.</li>
							</ul>
							<h3>To add a program shortcut to the Dock:</h3>
							<ul>
								<li>Open the program (using the Launchpad)</li>
								<li>Right click the program icon in the Dock</li>
								<li>Select Options => Keep in Dock</li>
							</ul>
							<h3>To configure other Dock options:</h3>
							<ul>
								<li>Right click the Dock on an area without any program icons</li>
								<li>Click on any option</li>
							</ul>
							<h2>Exercises:</h2>
							<ul>
								<li>Remove all programs you don’t use from your dock.</li>
								<li>Configure your Dock to auto-hide on the left side of the screen.</li>
							</ul>
							<!-- BODY END -->
							<div class="clear"></div>
							<br>
							<%= render 'share_buttons.html.erb' %>
						</div>
					</div>
					<%= render 'post_navigation.html.erb' %>
					<div class="line"></div>
				</div>
			</div>
			<div class="sidebar nobottommargin col_last clearfix">
				<div class="sidebar-widgets-wrap">
					<%= render 'next_lessons.html.erb' %>
				</div>
			</div>
		</div>
	</div>
</section>
