<%= render "/layouts/page_title", page_title: "FAQ", page_subtitle: "Frequently Asked Questions" %>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
  <h2>Edit FAQ</h2>
    <%= render "form",  submit_button: "Edit FAQ" %>
  </div>
  <div class="col-md-2"></div>
</div>