<%= form_for @info_session do |f| %>
  <div class="form-group">
    <%= f.label :date %><br />
    <%= f.datetime_select :date, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit submit_button, class: "btn btn-primary btn-lg" %>
  </div>
<% end %>