<% content_for :head do %>
  <!-- stripe docs say to load directly from them and not host yourself -->
  <script src="https://js.stripe.com/v3/"></script>  
<% end %>



<section class="page-title page-title-3 bg-dark">
<div class="background-image-holder very-darken-image">
  <img alt="Background Image" class="background-image" src="<%= asset_path('rooftop.jpg') %>" />
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
          <% if @referral == "wwcode" %>
            <h3 class="uppercase mb0">Actualize <> Women Who Code</h3>
          <% else %>
            <h3 class="uppercase mb0">Enroll in Coding Foundations</h3>
          <% end %>
        </div>
    </div>
    <!--end of row-->
</div>
<!--end of container-->
<ol class="breadcrumb breadcrumb-2 hide-on-mobile">
    <li>
      <% if @referral == "wwcode" %>
        <span>
          Actualize has partnered with Women Who Code to offer<br>scholarships for its members! Begin your application here.
        </span>
      <% else %>
        <span style="font-size: 18px">
          
        </span>
      <% end %>
    </li>
</ol>
</section>



<section>
<div class="container">
    <div class="row">
      <div id="errors" class="text-danger"></div>
        <div class="col-md-6 col-md-offset-3">
          <form id="signup-form" class="form-validate" data-success="Thanks for your submission." data-error="Please fill all fields correctly." action="/enroll/coding-foundations" accept-charset="UTF-8" method="post" onsubmit="runCheckout('<%= @session_id %>')">
            <h3>Sign up here</h3>
            <p>
              After you sign up, continue to payment. After payment you will be contacted by someone at Actualize and we will send you the starting materials. 
            </p>
            <div class="input-with-label text-left">
              <label for="first_name">First Name</label>
              <input type="text"  name="first_name" id="first_name" class="validate-required">
            </div>
            <div class="input-with-label text-left">
              <label for="last_name">Last Name</label>
              <input type="text"  name="last_name" id="last_name" class="validate-required">
            </div>
            <div class="input-with-label text-left">
              <label for="email">Email Address</label>
              <input type="text" name="email" id="email" class="validate-required validate-email">
            </div>
            <div class="input-with-label text-left">
              <label for="phone_number">Phone Number</label>
              <input type="text"  name="phone_number" id="phone_number" class="validate-required">
            </div>
              <input type="hidden" name="mousetrap" id="mousetrap" value="Started Application">
              <input type="checkbox" name="contact_me_by_fax_only" value="1" style="display:none !important" tabindex="-1" autocomplete="off">
              <a href="/coding-foundations/terms-of-service">Terms of Service</a>
            <div class="form-group">
              <input type="submit" name="commit" value="Proceed to Payment" class="button button-3d nomargin nopadding primary-color">
            </div>
          </form>                
        </div>
    </div>
</section>




<script>
var stripe = Stripe('<%= Rails.env.production? ? "pk_live_YJliio8MRCk59fQwohNgIeF600UYDBEioI" : "pk_test_Duc1D5cfFcQcpkMZcUrPOkeU00LnOQ7GTI" %>');



function runCheckout(sessionId) {
  // # grab first_name, last_name, email, phone_number
  // # prevent default
  event.preventDefault()

  var params = {
    first_name: $('#first_name').val(),
    last_name: $('#last_name').val(),
    email: $('#email').val(),
    phone_number: $('#phone_number').val(),
    session_id: sessionId
  }
  
  $.post(
    '/enroll/coding-foundations',
    params,
    function(data) {
      stripe.redirectToCheckout({    
        sessionId: sessionId
      }).then(function (result) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer
        // using `result.error.message`.
      });
    },
  ).fail(function(errors) {
    var finalText = "";
    for( var i = 0; i < errors.responseJSON.errors.length; i++) {
      finalText += ("<p class='text-danger'>" + errors.responseJSON.errors[i] + "</p>");
    }
    $('#errors').html(finalText);

  });
  
  // # console.log(sessionId);
  
}

</script>