<% content_for :head do %>
  <title>Actualize</title>
  
<% end %>

<section class="cover fullscreen image-bg overlay">
    <div class="background-image-holder">
      <img alt="image" class="background-image" src="<%= asset_path('home-2-8.jpg') %>" />
    </div>
    <div class="container v-align-transform">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="feature text-center">
                    <i class="ti-check-box icon icon-lg mb24 mb-xs-0"></i>
                    <h1 class="large">Thanks for Enrolling!</h1>
                    <p class="mb40 mb-xs-24">
                        We will contact you about next steps!
                    </p>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
