#h1 {
  font-size: 72px;
  line-height: 80px;
  font-weight: 100;
}

#h2 {
	font-size: 40px;
  line-height: 48px;
}

input[type="submit"].primary-color {
  border: 2px solid #1C81CF !important;
  background: #1C81CF !important;
}

#pre-video {
  font-size: 72px;
  line-height: 80px;
  font-weight: 100;
}

.shaded p {
  font-weight: bold !important;
}

#switchup p {
  font-weight: bold !important;
}

#switchup img {
  margin-bottom: 30px;
}

.tall-text-area {
  height: 300px;
}

input[type="text"].sp-hide-am {
  /* spam honeypot! */
  background: transparent;
  border: none;
  height: 2px;
}

@media all and (max-width: 990px) {
  #h1 {
    font-size: 56px;
    line-height: 64px;
  }
}

@media all and (max-width: 767px) {
  #h1 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 300;
  }

  .hide-on-mobile {
  	display: none;
  }
}

