<!-- Sidebar
  ============================================= -->
  <div class="sidebar nobottommargin col_last clearfix">
    <div class="sidebar-widgets-wrap">
      <div class="widget clearfix">
        <div class="tabs nobottommargin clearfix" id="sidebar-tabs">
          <div class="tab-container">
            <% @blog_posts.first(5).each do |blog_post| %>
              <div class="spost clearfix">
                <div class="entry-image">
                  <a href="#" class="nobg"><img class="img-circle" src="images/magazine/small/3.jpg" alt=""></a>
                </div>
                <div class="entry-c">
                  <div class="entry-title">
                    <h4><a href="#"> <%= blog_post.title %></a></h4>
                  </div>
                  <ul class="entry-meta">
                    <li><i class="icon-tags"></i> <%= blog_post.blog_categories.pluck(:name).join(", ") %> </li>
                  </ul>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>


</div><!-- .sidebar end -->