<%= render "/layouts/page_title", page_title: "Blog", page_subtitle: "All Things Learning to Code" %>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h3>Create a New Blog Post.</h3>
    <p>The name and email address you used to create an account will appear with your blog post.</p>
  </div>
  <div class="col-md-2"></div>
</div>
<%= render "form", submit_button: "Create Blog Post", additional_edit_info: "" %>

