<div class="container v-align-transform">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
      <div class="feature bordered text-center">
        <h3 class="uppercase">Think Like a Software Engineer</h3>
        <p>
          Learning to code is much more than learning new concepts and syntax. It's a whole new <em>mindset</em>. Get a weekly video straight to your inbox with practical advice and strategies on how to think like a software engineer.
        </p>

        <form action="/subscribers_tlase" method="post" class="halves form-validate" data-error="Please submit a correct email address.">
          <input type="checkbox" name="contact_me_by_fax_only" value="1" style="display:none !important" tabindex="-1" autocomplete="off">
          <input type="text" name="email" style="margin-left: 0" class="mb16 validate-required validate-email signup-email-field" placeholder="Email Address" aria-label="email"/>
          <input type="hidden" name="mousetrap" value="TLASE"/>
          <button class="btn btn-lg btn-blue mb16" type="submit" class="mb0">Send me free videos</button>
          <p class="sub" style="clear: both">
            *We won't share your email with third parties.
          </p>

        </form>

      </div>
    </div>
  </div>
  <!--end of row-->
</div>
