<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
  <h2>Blog Categories</h2>
  <% @blog_categories.each_with_index do |category, index| %>
    <%="#{index+1}. #{category.name}" %><br>
  <% end %>
  <br>
  <br>
  <%= render 'links' %>
  </div>
  <div class="col-md-2"></div>
</div>