<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">
			<div class="postcontent nobottommargin clearfix">
				<div class="single-post nobottommargin">
					<div class="entry clearfix">
						<div class="col_full portfolio-single-image">
							<!-- VIDEO CONTENT -->
							<iframe width="500" height="315" src="https://www.youtube.com/embed/WQtztErHpfM" frameborder="0" allowfullscreen></iframe>
						</div>
						<div class="tutorial-content" class="entry-content notopmargin">
							<div class="fancy-title title-dotted-border title-center">
								<h2><%= @lesson_title %></h2>
							</div>
							<!-- BODY START -->
<ol>
<li>
<div class="rating" style="color:#fed130" >
  <i class="glyphicon glyphicon-star" ></i>
  <i class="glyphicon glyphicon-star" ></i>
  <i class="glyphicon glyphicon-star" ></i>
  <i class="glyphicon glyphicon-star-empty" ></i>
  <i class="glyphicon glyphicon-star-empty" ></i>
</div>
Copy and paste the following code into a ruby file. <strong>You do not need to understand all the details of what is happening in this file.</strong> Simply run the file with Ruby. There are several variable errors. Work through each error, one at a time, until you have fixed all the errors. Please submit the final result as your solution. It should be error free.
<pre class="language-ruby"><code>class Animal
  attr_accessor :name, :num_of_legs, :family

  def initialize(options)
    @name = options[:name]
    @num_of_legs = options[:num_of_legs]
    @family = options[:family]
  end

  def has_more_legs?(animal)
    num_of_legs > aminal.num_of_legs
  end

  def creepy?
    num_of_legs > 4
  end

  def creepy_message
    creepy? ? "much creepy" : "much not creepy"
  end

  def description
    "This animal's name is #{name}. And the animal is very #{creepy_message}." \
      " It has #{num_of_legs} legs and is part of the #{family} family."
  end
end

xoloitzcuintli = Animal.new({name: "Xoloitzcuintli", num_of_legs: 4, family: "Canidae"})
ptarmigan = Animal.new({name: "Ptarmigan", num_of_legs: 2, family: "Phasianidae"})
tsetse_fly = Animal.new({name: "Tsetse Fly", num_of_legs: 6, family: "Glossinidae"})
platypus = Animal.new({name: "Platypus", num_of_legs: 4, family: "Ornithorhynchidae"})
assassin_bug = Animal.new({name: "Assassin Bug", num_of_legs: 6, family: "Assassin Bug"})
puts "Does the #{tsetse.name} have more legs than #{ptarmigan.name}? : " + tsetse_fly.has_more_legs?(ptarmigan).to_s
puts "Is the #{xolotzcuintli.name} creepy? : " + xolotzcuintli.creepy?.to_s
puts platypus.description
puts assasin_bug.description
puts "Does the #{xoloitzcuintl.name} have more legs than #{tsets_fly.name}? : " + xoloitzcuintli.has_more_legs?(tetse_fly).to_s
puts tsetse_fly.description
puts xoloitcuintli.description
puts "Is the #{platpus.name} creepy? : " + platypus.creepy?.to_s
puts tarmigan.description</code></pre>
</li>
</ol>
							<!-- BODY END -->
							<div class="clear"></div>
							<br>
							<%= render 'share_buttons.html.erb' %>
						</div>
					</div>
					<%= render 'post_navigation.html.erb' %>
					<div class="line"></div>
				</div>
			</div>
			<div class="sidebar nobottommargin col_last clearfix">
				<div class="sidebar-widgets-wrap">
					<%= render 'next_lessons.html.erb' %>
				</div>
			</div>
		</div>
	</div>
</section>
