<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">
			<div class="postcontent nobottommargin clearfix">
				<div class="single-post nobottommargin">
					<div class="entry clearfix">
						<div class="col_full portfolio-single-image">
							<!-- VIDEO CONTENT -->
							<iframe width="500" height="315" src="https://www.youtube.com/embed/xsIMDp4zp74" frameborder="0" allowfullscreen></iframe>
						</div>
						<div class="tutorial-content" class="entry-content notopmargin">
							<div class="fancy-title title-dotted-border title-center">
								<h2><%= @lesson_title %></h2>
							</div>
							<!-- BODY START -->
							<h3>Exercises</h3>
							<ol>
								<li>Write a program that asks a person for their first, middle, and last name, and it will display their full name on one line.</li>
								<li>Write a program that asks how old a person in years is and it will display how old the person is in terms of seconds.</li>
								<li>Write a program that asks the user for a starting year, and an ending year. Calculate the number of years between them and output the result (for example, between 1990 and 1995 there were 5 years).</li>
							</ol>
							<!-- BODY END -->
							<div class="clear"></div>
							<br>
							<%= render 'share_buttons.html.erb' %>
						</div>
					</div>
					<%= render 'post_navigation.html.erb' %>
					<div class="line"></div>
				</div>
			</div>
			<div class="sidebar nobottommargin col_last clearfix">
				<div class="sidebar-widgets-wrap">
					<%= render 'next_lessons.html.erb' %>
				</div>
			</div>
		</div>
	</div>
</section>
