<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">
			<div class="postcontent nobottommargin clearfix">
				<div class="single-post nobottommargin">
					<div class="entry clearfix">
						<div class="col_full portfolio-single-image">
							<!-- VIDEO CONTENT -->
							<iframe width="500" height="315" src="https://www.youtube.com/embed/9IjeWli-U2I" frameborder="0" allowfullscreen></iframe>
						</div>
						<div class="tutorial-content" class="entry-content notopmargin">
							<div class="fancy-title title-dotted-border title-center">
								<h2><%= @lesson_title %></h2>
							</div>
							<!-- BODY START -->
							<h3>Exercises</h3>
<ol>
<li>
<div class="rating" style="color:#fed130" >
  <i class="glyphicon glyphicon-star" ></i>
  <i class="glyphicon glyphicon-star" ></i>
  <i class="glyphicon glyphicon-star-empty" ></i>
  <i class="glyphicon glyphicon-star-empty" ></i>
  <i class="glyphicon glyphicon-star-empty" ></i>
</div>
This program has a mistake and will display an error message if you run it:
<pre class="language-ruby"><code>puts "Enter a number:"
first_number = gets.chomp
puts "Enter another number:"
second_number = gets.chomp
product = first_number * second_number
puts "The product of the numbers is " + product</code></pre>
This program has a mistake but does NOT display an error message if you run it:
<pre class="language-ruby"><code>puts "Enter a number:"
first_number = gets.chomp
puts "Enter another number:"
second_number = gets.chomp
sum = first_number + second_number
puts "The sum of the numbers is " + sum
</code></pre>
Describe in your own words why one program shows and error and the other doesn't even though there's a mistake in both.
</li>
</ol>
							<!-- BODY END -->
							<div class="clear"></div>
							<br>
							<%= render 'share_buttons.html.erb' %>
						</div>
					</div>
					<%= render 'post_navigation.html.erb' %>
					<div class="line"></div>
				</div>
			</div>
			<div class="sidebar nobottommargin col_last clearfix">
				<div class="sidebar-widgets-wrap">
					<%= render 'next_lessons.html.erb' %>
				</div>
			</div>
		</div>
	</div>
</section>
