<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">
			<div class="postcontent nobottommargin clearfix">
				<div class="single-post nobottommargin">
					<div class="entry clearfix">
						<div class="col_full portfolio-single-image">
							<!-- VIDEO CONTENT -->
							<iframe width="500" height="315" src="https://www.youtube.com/embed/RQDSIg_E7WU" frameborder="0" allowfullscreen></iframe>
						</div>
						<div class="tutorial-content" class="entry-content notopmargin">
							<div class="fancy-title title-dotted-border title-center">
								<h2><%= @lesson_title %></h2>
							</div>
							<!-- BODY START -->
							<h3>Exercises</h3>
							<ol>
								<li>
									Write a program that asks the user for their name. If they enter "Suzie" the program should respond with "Hey, Suzie!"
								</li>
								<li>
									Update your program so it responds with "Hey, Suzie!" Regardless if the user enters "Suzie" or "suzie".
								</li>
								<li>
									BEST PRACTICES: Look at this code:
<pre class="language-ruby"><code>a = "Masha"
b = "Antonovich"
c = "37"
puts "Your name is " + a + " " + b + " and you are " + c + " years old."</code></pre>
									Refactor the code and replace the variable names “a”, “b” and “c” with more human friendly names.
								</li>
							</ol>
							<!-- BODY END -->
							<div class="clear"></div>
							<br>
							<%= render 'share_buttons.html.erb' %>
						</div>
					</div>
					<%= render 'post_navigation.html.erb' %>
					<div class="line"></div>
				</div>
			</div>
			<div class="sidebar nobottommargin col_last clearfix">
				<div class="sidebar-widgets-wrap">
					<%= render 'next_lessons.html.erb' %>
				</div>
			</div>
		</div>
	</div>
</section>
