<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">
			<div class="postcontent nobottommargin clearfix">
				<div class="single-post nobottommargin">
					<div class="entry clearfix">
						<div class="col_full portfolio-single-image">
							<!-- VIDEO CONTENT -->
							<iframe width="500" height="315" src="https://www.youtube.com/embed/iSRivsx-sVw" frameborder="0" allowfullscreen></iframe>
						</div>
						<div class="tutorial-content" class="entry-content notopmargin">
							<div class="fancy-title title-dotted-border title-center">
								<h2><%= @lesson_title %></h2>
							</div>
							<!-- BODY START -->
							<h3>Exercises</h3>
							<ol>
								<li>
									What do you think the output to this will be? Be sure to check your answer by running the code:
									<pre class="language-ruby"><code>puts 21 - 6 / 2 * 3</code></pre>
								</li>
								<li>
									Given this line of code:
									<pre class="language-ruby"><code>puts 100 * 5 - 2 / 2</code></pre>
									It will output 499. Just by adding parentheses, change the output to 150. DO NOT change any numbers or operators (*, -, / etc.)
								</li>
								<li>
									Let’s start with an error you might get by running your code:
									<pre>ZeroDivisionError: divided by 0</pre>
									What would be a line of code that would result in this error? Be sure to test it, and get the same error above.
								</li>
							</ol>
							<!-- BODY END -->
							<div class="clear"></div>
							<br>
							<%= render 'share_buttons.html.erb' %>
						</div>
					</div>
					<%= render 'post_navigation.html.erb' %>
					<div class="line"></div>
				</div>
			</div>
			<div class="sidebar nobottommargin col_last clearfix">
				<div class="sidebar-widgets-wrap">
					<%= render 'next_lessons.html.erb' %>
				</div>
			</div>
		</div>
	</div>
</section>
