<div class="jumbotron jumbo-thanks">
  <h1>Thank you!</h1>
  <h2>We look forward to seeing you at the info session</h2>
  <h2><%= @info_session_sign_up.friendly_date %> at <%= @info_session_sign_up.friendly_time %></h2>
  <h2><%= @info_session_sign_up.city %></h2>
</div>