<div class="jumbotron jumbo-thanks">
  <h1>Thank you for scheduling a tour!</h1>
  <h2>An admissions advisor from your city will reach out to your shortly.</h2>
  <!-- <h2>Until then—improve your coding skills by using our <%#= link_to 'Online Tutorial', tutorial_lessons_path, {class:"tutorial-link"} %></h2> -->
</div>
<!-- Google Code for Completed Application Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
  var google_conversion_id = 926873760;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "wIgsCPmw_WQQoPH7uQM";
  var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
  <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/926873760/?label=wIgsCPmw_WQQoPH7uQM&amp;guid=ON&amp;script=0"/>
  </div>
</noscript>
