<% content_for :head do %>
  <title>Codecademy: Life After Codecademy | Actualize</title>
  <meta name="description" content="If you've made progress with Codecademy and are interested in becoming a professional software developer, what should your next steps be?">
<% end %>

<section class="page-title page-title-3 image-bg overlay">
    <div class="background-image-holder">
      <img alt="Code" class="background-image" src="<%= asset_path('intro1.jpg') %>" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="mb0">Life After Codecademy</h1>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

  <section class="pb0">
      <div class="container">
          <div class="row">
              <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                  <h2>Learn To Code For Real</h2>
              </div>
          </div>
          <!--end of row-->
      </div>
      <!--end of container-->
  </section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Now it's time to crank things up</h3>
        <p>So you've played around with Codecademy or a similar online resource, and you've been exposed to what coding is like. Not only that, but you've found that you actually <em>like</em> coding, and may even consider becoming a software developer. After all, what's better than spending all day solving cool tech puzzles and getting paid handsomely for it?</p>
        <p>You've likely discovered that while Codecademy may be good for getting your feet wet, you're now looking a guided course run by real humans (and preferably expert coding instructors) who will teach you to code for real.</p>
        <p>But like most people, you don't really want to go back to school, or can't afford the time or financial investment to do so. What can you do next?</p>
        <p>The choice that thousands of other people in your situation have made is to attend a <a href="/" class="primary-color">coding bootcamp</a>.</p>
        <p>If you're looking for the coding bootcamp that:</p>
        <ul>
          <li style="font-size: 18px; font-weight: bold;">Is taught live by world-class coding instructors</li>
          <li style="font-size: 18px; font-weight: bold;">Provides unparalled guidance in helping you land your first tech job</li>
          <li style="font-size: 18px; font-weight: bold;">Can be taken from anywhere in the US</li>
          <li style="font-size: 18px; font-weight: bold;">Doesn't even require you to quit your current job</li>
        </ul>

        <p>then we'd like to officially invite you to check out <a href="/">Actualize</a>, which is ranked as one of the best coding bootcamps in the world by CIO Magazine and Switchup.org.</p>
        <p>Our <a href="online-coding-bootcamp" class="primary-color">online coding bootcamp</a> is the <strong>world's only code school</strong> that takes place 100% live over video conferencing. By the end of our several-month course, you will be ready to land your first job as a software developer.</p>

        <p>Our ideal student is someone who has used Codecademy or other online coding tutorials for some time, and is now ready to make the next move.</p>

        <p>Make <em>your</em> next move and apply to the <a href="/" class="primary-color">coding school</a> that is unparalled in the industry.</p>

        <a href="/apply" class="btn btn-lg btn-filled bg-primary-color">Make Your Next Move</a>

      </div>
    </div>
  </div>
</section>
