
<section class="cover fullscreen image-bg overlay">
    <div class="background-image-holder">
        <img alt="image" class="background-image" src="/img/home-2-8.jpg" />
    </div>
    <div class="container v-align-transform">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="feature text-center">
                    <i class="ti-check-box icon icon-lg mb24 mb-xs-0"></i>
                    <h1 class="large">Thanks for reaching out!</h1>
                    <p class="mb40 mb-xs-24">
                        We'll get back to you as soon as we can! Did you know that you can also call us? Call Rena at 773-766-5965 to speak to us directly.
                    </p>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>



