<% content_for :head do %>
  <title>Tuition and Financing Options | Actualize</title>
  <meta name="description" content="Tuition and financing options for the Actualize coding bootcamp.">
<% end %>

<section class="page-title page-title-3 image-bg overlay">
    <div class="background-image-holder">
        <img alt="Background Image" class="background-image" src="/img/rooftop.jpg" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class="uppercase mb0">Actualize Financing Options</h3>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<section class="pb0">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h4>A $1,000 non-refundable deposit is required to secure your spot in the course. This deposit counts towards your tuition. For paying the remainder of the tuition, we provide three flexible options.</h4>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2>Payment Upfront</h2>
        <p>When paying upfront, you will receive a tuition discount of up to $500. You and your Admissions Advisor will work together to determine your exact payment date.</p>
      </div>

      <div class="col-sm-4">
        <h2>Three Installments</h2>
        <p>You can break up your tuition into three smaller installments without paying any interest. Your Admissions Advisor will work with you determine the dates for each payment, but the final payment will take place before graduating from Actualize.</p>
      </div>

      <div class="col-sm-4">
        <h2>Financing</h2>
        <p>We have partnered with Education Loan Source, a lending company, to offer financing of Actualize tuition as a 3 year loan. Depending on your financial history, your monthly payments can range from about $269 to $298 for our Online Live course, and about $409 to $452 for our in-person (Chicago) course. Your Admissions Advisor can provide you with further details.</p>
      </div>
  </div>

</section>


