<% content_for :head do %>
  <title>Tuition and Financing Options | Actualize</title>
  <meta name="description" content="Tuition and financing options for the Actualize coding bootcamp.">
<% end %>

<section class="page-title page-title-3 image-bg overlay">
    <div class="background-image-holder">
      <img alt="Background Image" class="background-image" src="<%= asset_path('wide-1.jpg') %>" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class="uppercase mb0">Tuition and Financing Options</h3>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>


<section class="pb0">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h3 class="uppercase">Tuition</h3>
                <h4 style="margin: 0">$13,900</h4>
            </div>
        </div>
    </div>
</section>


<section class="pb0">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h3 class="uppercase">Financing</h3>
                <h4>A $1,000 non-refundable deposit is required to secure your spot in the course, and is applied towards your tuition. For paying the remainder of the tuition, we provide three flexible options.</h4>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2>Payment Upfront</h2>
        <p>When paying upfront, you will receive a tuition discount of up to $500. You and your Admissions Advisor will work together to determine your exact payment date.</p>
      </div>

      <div class="col-sm-4">
        <h2>Three Installments</h2>
        <p>You can break up your tuition into three smaller installments without paying any interest. Your Admissions Advisor will work with you determine the dates for each payment, but the final payment will take place before graduating from Actualize.</p>
      </div>

      <div class="col-sm-4">
        <h2>Financing</h2>
        <p>Actualize is able to provide an optional tuition financing program – TuitionFlex - whereby the school is offering to finance your tuition over 3 years.  Depending on your financial and credit history, your monthly payments may range from about $409 to $452 if approved.  Please contact your Admissions Advisor who can provide you with further details on this optional program.</p>
      </div>
  </div>

  <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
      <a href="https://calendly.com/renaw" class="btn btn-lg btn-filled bg-primary-color">Speak To An Admissions Advisor</a>
  </div>


</section>
