       <!-- Content
        ============================================= -->


        <div class="marquee">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="marquee-content">
                            <h2> Become a Web Developer <br> Without Quitting Your Day Job.</h2>
                            <p>Learn full-stack web development through in-class instruction <br> on weeknights and Sundays.</p><br>
                            <h3>Next Cohort: Sep  15th</h3>
                            <h4>Application Deadline: TBD</h4><br>
                            <button class="button-primary"> Start Application</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="container home-section">
            <div class="row">
                <div class="col-md-12 our-program">
                    <div class="section-header">
                        <h2>Our Program</h2>
                        <p>Our three-phase curriculum is created by experienced developers and educational experts and unlike other programs, Anyone Can Learn to Code combines detailed instruction, challenging exercises, and instructor feedback to teach the development skills companies are looking for.</p>
                    </div>
                    <div class="phase">
                        <div class="phase-block block-image phase1-img">
                            <span>1</span >
                        </div>
                        <div class="phase-block">
                            <h2>Phase One</h2>
                            <h3>Three weeks of in-home exercises</h3>
                            <p>That will teach you the fundamentals of the Ruby programming language. Instructors review your work and provide feedback, or answer questions via e-mail.</p>
                        </div>
                    </div>
                    <div class="phase">
                        <div class="phase-block block-image phase2-img">
                            <span>2</span >
                        </div>
                        <div class="phase-block">
                            <h2>Phase Two</h2>
                            <h3>Twelve weeks of in-class instruction</h3>
                            <p>Instruction, exercises, and projects designed to teach you the technologies you need to build a web application that you'll present at the end of the cohort at our Student Showcase, an event attended by local employers looking to hire software developers.</p>
                        </div>
                    </div>
                    <div class="phase">
                        <div class="phase-block block-image phase3-img">
                            <span>3</span >
                        </div>
                        <div class="phase-block">
                            <h2>Phase Three</h2>
                            <h3>Six weeks of a paid internship</h3>
                            <p>Where you will develop websites and web applications for actual clients, learn about test-driven and agile development practices, and pair-program with fellow students.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        