       <!-- Content
        ============================================= -->


        <div class="marquee">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="marquee-content">
                            <h2> 
                                Become a Web Developer <br> Without Quitting Your Day Job.
                            </h2>
                            <p>
                                Learn full-stack web development through in-class instruction <br> on weeknights and Sundays.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        