    
       <style>
       body {
         background-image: url(<%= "/assets/josh/#{@josh_image}" %>);
         background-size: cover;
         /* background-image: url('/assets/josh.jpg'); */
       }
       </style>
          
            <section class="">
              <div class="text-center">
                <a class="btn btn-sm" href="/josh/appreciation/new">Say Something Nice about Josh!</a>
              </div>
                <div class="container">
                
                    <div class="row masonry-loader">
                        <div class="col-sm-12 text-center">
                            <div class="spinner"></div>
                        </div>
                    </div>
                    <div class="row masonry mb40">
                      <% @appreciations.each do |appreciation| %>
                        <div class="col-sm-4 post-snippet masonry-item">
                            <a href="#">
                                <blockquote>
                                    <%= appreciation.post %> <br />
                                    <b><%= appreciation.name %></b>
                                </blockquote>
                            </a>
                        </div>
                      <% end %>
                        <!--end of snippet-->
                    </div>
                    <!--end of row-->

                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

    
        
        <script src="/assets/theme/masonry/js/masonry.min.js"></script>
        <script src="/assets/theme/masonry/js/scripts.js"></script>
    