<% content_for :head do %>
  <title>Coding Bootcamp Resources | Actualize</title>
  <meta name="description" content="Resources for those considering attending the Actualize coding bootcamp.">
<% end %>

<section class="page-title page-title-3 image-bg overlay">
    <div class="background-image-holder">
        <img alt="Background Image" class="background-image" src="/img/rooftop.jpg" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class="uppercase mb0">Actualize Resources</h3>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>


<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2>Alumni Reviews</h2>
        <p>Actualize is one of the highest-rated coding bootcamps on the two major websites that cover the coding bootcamp industry:</p>

            <p style="margin-bottom: 0px"><a href="https://www.switchup.org/bootcamps/actualize" target="_blank" class="primary-color">Switchup</a></p>
            <p><a href="https://coursereport.com/schools/actualize" target="_blank" class="primary-color">Course Report</a></p>

        
      </div>
      <div class="col-sm-6">
        <h2>Learn To Code Tutorial</h2>
        <p>Actualize's free Learn To Code tutorial is a great way to start your coding journey. Starting at the very basics, this tutorial breaks down the fundamentals of coding in a clear and understandable way. It's also quite funny!</p>

        <p><a href="/tutorial/lessons" class="primary-color">Learn to Code Tutorial</a></p>

      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h2>Capstone Projects</h2>
        <p>Do you want to see some of the projects that our students have built for their final Capstone projects? Here's a small sampling of past projects so you can get a sense of what you'd be able to build by the end of the bootcamp.</p>
        <p><a href="/capstones" class="primary-color">Capstone Projects</a>
      </div>
      <div class="col-sm-6">
        <h2>The Actualize Blog</h2>
        <p>The Actualize Blog features articles on becoming a software developer, graduate success stories, and coding bootcamps in general. You're certain to find lots of useful information here.</p>
        <p><a href="/blog_posts" class="primary-color">Actualize Blog</a>
      </div>
    </div>
  </div>

</section>


