<% content_for :head do %>
  <title>Thank you for applying to the Actualize coding bootcamp</title>
  <meta name="description" content='Application for Actualize coding school.'>
<% end %>

<section class="cover fullscreen image-bg overlay">
    <div class="background-image-holder">
        <img alt="image" class="background-image" src="/img/home-2-8.jpg" />
    </div>
    <div class="container v-align-transform">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="feature text-center">
                    <i class="ti-check-box icon icon-lg mb24 mb-xs-0"></i>
                    <h1 class="large">Thanks for your application!</h1>
                    <p class="mb40 mb-xs-24">
                        We will contact you about next steps. Until then—improve your coding skills by using our <%= link_to 'Online Tutorial', tutorial_lessons_path, {class:"tutorial-link"} %>!
                    </p>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<!-- Google Code for Completed Application Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
  var google_conversion_id = 926873760;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "wIgsCPmw_WQQoPH7uQM";
  var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>

<noscript>
  <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/926873760/?label=wIgsCPmw_WQQoPH7uQM&amp;guid=ON&amp;script=0"/>
  </div>
</noscript>
<!-- End Google Code -->
  
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '1265472206822639', {
em: 'insert_email_variable,'
});
fbq('track', 'CompleteRegistration');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1265472206822639&ev=PageView&noscript=1"
/></noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->

<!-- Google Code for Apply Contact Form Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 926873760;
var google_conversion_label = "RJPHCIjP9XsQoPH7uQM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/926873760/?label=RJPHCIjP9XsQoPH7uQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
