<div class="jumbotron jumbo-thanks">
  <h2>Thank you for submitting an application to </h2>
  <h1>Anyone Can Learn to Code.</h1>
  <h2>We will contact you about next steps. Until then—keep coding!</h2>
</div>
