<section class="page-title page-title-3 image-bg overlay parallax">
    <div class="background-image-holder">
        <img alt="Background Image" class="background-image" src="img/home15.jpg" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class="uppercase mb0">Tutorials</h3>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
    <ol class="breadcrumb breadcrumb-2">
        <li class="active">Learn computer and coding skills from professional educators</li>
    </ol>
</section>

<section class="bg-secondary">
    <div class="container">
        <div class="row mb64 mb-xs-24">
            <div class="col-sm-12 text-center">
                <h3 class="mb64">Learning resources for every level of experience</h3>
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="tabbed-content button-tabs">
                            <ul class="tabs">
                                <li class="active">
                                    <div class="tab-title">
                                        <span>Level 1</span>
                                    </div>
                                    <div class="tab-content text-left">
                                        <p class="text-center">
                                            Level 1 tutorials are for people who at the beginning of their journey looking to learn more about programming and technology in general. 
                                        </p>
                                        <div class="row">
                                            <div class="col-sm-4 mb64">
                                                <a href="/becoming-tech-savvy">
                                                    <img alt="Pic" class="mb24" src="img/home21.jpg" />
                                                </a>
                                                <a href="/becoming-tech-savvy">
                                                    <h4 class="mb8">Becoming Tech Savvy</h4>
                                                </a>
                                                <ul class="list-inline mb16">
                                                    <li>
                                                        <a href="#">Peter Jang</a>
                                                    </li>
                                                    <li class="pull-right">
                                                        <a href="#">
                                                            <span class="label">Level 1</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <p class="mb0">
                                                    In today’s world, technology is inescapable. This series of articles is designed to teach you the fundamentals how computers work, which will open doors for you in your current career and your next one.
                                                </p>
                                            </div>
                                            <div class="col-sm-4 mb64">
                                                <a href="/tutorial/lessons">
                                                    <img alt="Pic" class="mb24" src="img/home5.jpg" />
                                                </a>
                                                <a href="/tutorial/lessons">
                                                    <h4 class="mb8">Learn to Code</h4>
                                                </a>
                                                <ul class="list-inline mb16">
                                                    <li>
                                                        <a href="#">Jay Wengrow</a>
                                                    </li>
                                                    <li class="pull-right">
                                                        <a href="#">
                                                            <span class="label">Level 1</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <p class="mb0">
                                                    Thinking about learning how to code but don't know where to start? This series of videos and exercises is designed to teach you the fundamentals of computer programming, starting from ground zero.
                                                </p>
                                            </div>
                                            <div class="col-sm-4 mb64">
                                                <a>
                                                    <img alt="Pic" class="mb24" src="img/home18.jpg" />
                                                </a>
                                                <a>
                                                    <h4 class="mb8">Intro to HTML</h4>
                                                </a>
                                                <ul class="list-inline mb16">
                                                    <li>
                                                        <a href="#">Jay Wengrow</a>
                                                    </li>
                                                    <li class="pull-right">
                                                        <a href="#">
                                                            <span class="label">Level 1</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <p class="mb0">
                                                    Coming soon!
                                                </p>
                                            </div>
                                        </div>
                                        <!--end of row-->
                                        <div class="row">
                                            <div class="col-sm-4 mb64">
                                                <a>
                                                    <img alt="Pic" class="mb24" src="img/home18.jpg" />
                                                </a>
                                                <a>
                                                    <h4 class="mb8">Intro to CSS</h4>
                                                </a>
                                                <ul class="list-inline mb16">
                                                    <li>
                                                        <a href="#">Jay Wengrow</a>
                                                    </li>
                                                    <li class="pull-right">
                                                        <a href="#">
                                                            <span class="label">Level 1</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <p class="mb0">
                                                    Coming soon!
                                                </p>
                                            </div>
                                            <div class="col-sm-4 mb64">
                                                <a>
                                                    <img alt="Pic" class="mb24" src="img/home18.jpg" />
                                                </a>
                                                <a>
                                                    <h4 class="mb8">Intro to JavaScript</h4>
                                                </a>
                                                <ul class="list-inline mb16">
                                                    <li>
                                                        <a href="#">Jay Wengrow</a>
                                                    </li>
                                                    <li class="pull-right">
                                                        <a href="#">
                                                            <span class="label">Level 1</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <p class="mb0">
                                                    Coming soon!
                                                </p>
                                            </div>
                                        </div>
                                        <!--end of row-->
                                    </div>
                                </li>
                                <li>
                                    <div class="tab-title">
                                        <span>Level 2</span>
                                    </div>
                                    <div class="tab-content text-left">
                                        <p class="text-center">
                                            Level 2 tutorials are for people who have experience learning to code and are looking to strengthen their skills.
                                        </p>
                                        <div class="row">
                                            <div class="col-sm-4 mb64">
                                                <a>
                                                    <img alt="Pic" class="mb24" src="img/home18.jpg" />
                                                </a>
                                                <a>
                                                    <h4 class="mb8">Intermediate HTML</h4>
                                                </a>
                                                <ul class="list-inline mb16">
                                                    <li>
                                                        <a href="#">Jay Wengrow</a>
                                                    </li>
                                                    <li class="pull-right">
                                                        <a href="#">
                                                            <span class="label">Level 2</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <p class="mb0">
                                                    Coming soon!
                                                </p>
                                            </div>
                                            <div class="col-sm-4 mb64">
                                                <a>
                                                    <img alt="Pic" class="mb24" src="img/home18.jpg" />
                                                </a>
                                                <a>
                                                    <h4 class="mb8">Intermediate CSS</h4>
                                                </a>
                                                <ul class="list-inline mb16">
                                                    <li>
                                                        <a href="#">Jay Wengrow</a>
                                                    </li>
                                                    <li class="pull-right">
                                                        <a href="#">
                                                            <span class="label">Level 2</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <p class="mb0">
                                                    Coming soon!
                                                </p>
                                            </div>
                                            <div class="col-sm-4 mb64">
                                                <a>
                                                    <img alt="Pic" class="mb24" src="img/home18.jpg" />
                                                </a>
                                                <a>
                                                    <h4 class="mb8">Intermediate JavaScript</h4>
                                                </a>
                                                <ul class="list-inline mb16">
                                                    <li>
                                                        <a href="#">Jay Wengrow</a>
                                                    </li>
                                                    <li class="pull-right">
                                                        <a href="#">
                                                            <span class="label">Level 2</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <p class="mb0">
                                                    Coming soon!
                                                </p>
                                            </div>
                                        </div>
                                        <!--end of row-->
                                        <div class="row">
                                            <div class="col-sm-4 mb64">
                                                <a>
                                                    <img alt="Pic" class="mb24" src="img/home18.jpg" />
                                                </a>
                                                <a>
                                                    <h4 class="mb8">Intro to Computer Science</h4>
                                                </a>
                                                <ul class="list-inline mb16">
                                                    <li>
                                                        <a href="#">Jay Wengrow</a>
                                                    </li>
                                                    <li class="pull-right">
                                                        <a href="#">
                                                            <span class="label">Level 2</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <p class="mb0">
                                                    Coming soon!
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="tab-title">
                                        <span>Level 3</span>
                                    </div>
                                    <div class="tab-content text-left">
                                        <p class="text-center">
                                            Level 3 tutorials are for people who have some professional programming experience looking to learn new technologies and programming paradigms.
                                        </p>
                                        <div class="row">
                                            <div class="col-sm-4 mb64">
                                                <a>
                                                    <img alt="Pic" class="mb24" src="img/home18.jpg" />
                                                </a>
                                                <a>
                                                    <h4 class="mb8">Intro to Vim</h4>
                                                </a>
                                                <ul class="list-inline mb16">
                                                    <li>
                                                        <a href="#">Peter Jang</a>
                                                    </li>
                                                    <li class="pull-right">
                                                        <a href="#">
                                                            <span class="label">Level 3</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <p class="mb0">
                                                    Coming soon!
                                                </p>
                                            </div>
                                            <div class="col-sm-4 mb64">
                                                <a>
                                                    <img alt="Pic" class="mb24" src="img/home18.jpg" />
                                                </a>
                                                <a>
                                                    <h4 class="mb8">Intro to tmux</h4>
                                                </a>
                                                <ul class="list-inline mb16">
                                                    <li>
                                                        <a href="#">Peter Jang</a>
                                                    </li>
                                                    <li class="pull-right">
                                                        <a href="#">
                                                            <span class="label">Level 3</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <p class="mb0">
                                                    Coming soon!
                                                </p>
                                            </div>
                                            <div class="col-sm-4 mb64">
                                                <a>
                                                    <img alt="Pic" class="mb24" src="img/home18.jpg" />
                                                </a>
                                                <a>
                                                    <h4 class="mb8">Intro to Containers</h4>
                                                </a>
                                                <ul class="list-inline mb16">
                                                    <li>
                                                        <a href="#">Peter Jang</a>
                                                    </li>
                                                    <li class="pull-right">
                                                        <a href="#">
                                                            <span class="label">Level 3</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <p class="mb0">
                                                    Coming soon!
                                                </p>
                                            </div>
                                        </div>
                                        <!--end of row-->
                                        <div class="row">
                                            <div class="col-sm-4 mb64">
                                                <a>
                                                    <img alt="Pic" class="mb24" src="img/home18.jpg" />
                                                </a>
                                                <a>
                                                    <h4 class="mb8">Intro to Functional Programming</h4>
                                                </a>
                                                <ul class="list-inline mb16">
                                                    <li>
                                                        <a href="#">Peter Jang</a>
                                                    </li>
                                                    <li class="pull-right">
                                                        <a href="#">
                                                            <span class="label">Level 3</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <p class="mb0">
                                                    Coming soon!
                                                </p>
                                            </div>
                                        </div>
                                        <!--end of row-->

                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!--end of button tabs-->
                    </div>
                </div>
                <!--end of row-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
