
<section class="cover fullscreen image-bg overlay">
    <div class="background-image-holder">
      <img alt="image" class="background-image" src="<%= asset_path('home-2-8.jpg') %>" />
    </div>
    <div class="container v-align-transform">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="feature text-center">
                    <i class="ti-check-box icon icon-lg mb24 mb-xs-0"></i>
                    <h1 class="large">Thanks for signing up!</h1>
                    <p class="mb40 mb-xs-24">
                        We'll contact you when our next webinar is scheduled. Until then—improve your coding skills by using our <%= link_to 'Online Tutorial', tutorial_lessons_path, {class:"tutorial-link"} %>!
                    </p>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
