<p>1. Write 5 lines of code and run it to see what happens. Then, go the end of line 2 and hit 'Enter', which will add a blank line to the middle of your lines of code. Does it change the result in the terminal when you run your code again?</p>
