<p>1. Use the <code>p</code> keyword to print out the results of five of your own mathematical calculations to the terminal.</p>
<p>2. In math, dividing something by 0 has no meaning. (Think about it: How could you divide your birthday cake into zero parts?!) <br>What result do you get when you divide something by 0 using Ruby?</p>
	  



