<div class="diversity-page-wrapper">
    <div class="marquee">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="marquee-content">
                        <h2> CODE FOR ALL</h2>
                        <h3>
                            ACLTC Diversity in Tech Scholarship: up to 60% off tuition for groups underrepresented in tech
                        </h3>
                        <a href="http://goo.gl/forms/zrdY395j8w" class="btn" id="top-application-button">Begin Application</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h3>We believe not only that anyone can learn to code, but that coding bootcamps should be accessible to all. Our mission is to provide people from any and every background the opportunity to learn coding and launch careers in tech.</h3>
    </div>

    <div class="skills-wrapper">
        <div class="container home-section">
            <div class="row">
                <div class="col-md-12 skills">
                    <div class="section-header">
                        <h2>ACLTC Diversity in Tech Scholarship</h2>
                        <h3>
                            Provides eligible applicants - women and ethnic minorities - the opportunity to receive up to 60% off tuition for our upcoming cohorts.</h3>
                        <hr><br>
                        <h3>
                            Our intensive bootcamp is known for amazing instructors, a part-time schedule that lets you keep your day job, and the guaranteed apprenticeship upon completion.
                        </h3>
                        <a href="http://goo.gl/forms/zrdY395j8w" class="btn" id="top-application-button">Begin Application</a>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>