<!-- Post Navigation
============================================= -->
<div class="post-navigation clearfix">
  <div class="col_half nobottommargin">
    <a href="<%= @previous_link[:href] %>">&lArr; <%= @previous_link[:text] %></a>
  </div>
  <div class="col_half col_last tright nobottommargin">
    <a href="<%= @next_link[:href] %>"><%= @next_link[:text] %> &rArr;</a>
  </div>
</div><!-- .post-navigation end -->