<!-- Content
============================================= -->
<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">
			<!-- Post Content
			============================================= -->
			<div class="postcontent nobottommargin clearfix">
				<div class="single-post nobottommargin">
					<!-- Single Post
					============================================= -->
					<div class="entry clearfix">
						<div class="col_full portfolio-single-image">
							<iframe width="500" height="315" src="https://www.youtube.com/embed/P3EbLHGmuwo" frameborder="0" allowfullscreen></iframe>
						</div>
						<!-- Entry Content
						============================================= -->
						<div id="tutorial-content" class="entry-content notopmargin">
							<!-- Entry Title
							============================================= -->
							<div class="fancy-title title-dotted-border title-center">
								<h2>Customize your system preferences!</h2>
							</div><!-- .entry-title end -->
							<h3>To open System Preferences:</h3>
							<ul>
								<li>Click the Apple logo at the top left of the screen</li>
								<li>Select any icon to configure different options</li>
							</ul>
							<h3>To configure what programs start up with your computer:</h3>
							<ul>
								<li>Open System Preferences =>Users &amp; Groups</li>
								<li>Select Login Items</li>
								<li>Select a program in the list you don’t want to start with your computer</li>
								<li>Click on the “-” button at the bottom of the list</li>
							</ul>
							<h3>To configure automatic downloads and updates:</h3>
							<ul>
								<li>Open System Preferences => App Store</li>
								<li>
									If you want to manage all updates manually (use caution):
									<ul>
										<li>Uncheck “Automatically check for updates”</li>
									</ul>
								</li>
								<li>
									If you want to automatically download updates but not automatically install them:
									<ul>
										<li>Check “Automatically check for updates”</li>
										<li>Check “Download newly available updates in the background”</li>
										<li>Uncheck all other options underneath</li>
									</ul>
								</li>
							</ul>
							<h2>Exercises:</h2>
							<ul>
							</ul>
							<div class="clear"></div>
							<br>
							<%= render 'share_buttons.html.erb' %>
						</div>
					</div><!-- .entry end -->
					<%= render 'post_navigation.html.erb' %>
					<div class="line"></div>
				</div>
			</div><!-- .postcontent end -->
			<!-- Sidebar
			============================================= -->
			<div class="sidebar nobottommargin col_last clearfix">
				<div class="sidebar-widgets-wrap">
					<%= render 'next_lessons.html.erb' %>
				</div>
			</div><!-- .sidebar end -->
		</div>
	</div>
</section><!-- #content end -->
