<!-- Page Title
============================================= -->
<section id="page-title">
  <div class="container clearfix">
    <h1>Online Tutorial</h1>
    <span>The tutorial will be designed for people who have zero programming experience and will aim to have a very shallow learning curve - much shallower than the relatively steep learning curve of our bootcamp.</span>
  </div>
</section><!-- #page-title end -->

<!-- Page Sub Menu
============================================= -->
<div id="page-menu">
  <div id="page-menu-wrap">
    <div class="container clearfix">
      <div class="menu-title">Tutorial <span>PHASES</span></div>
      <nav>
        <ul>
          <li class="current"><a href="/tutorials?phase=0">P0: Computer Literacy</a></li>
          <li><a href="/tutorials?phase=1">P1: Programming Basics</a></li>
          <li><a href="/tutorials?phase=2">P2: Projects</a></li>
        </ul>
      </nav>
      <div id="page-submenu-trigger"><i class="icon-reorder"></i></div>
    </div>
  </div>
</div><!-- #page-menu end -->

<!-- Content
============================================= -->
<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">
			<!-- Portfolio Items
			============================================= -->
			<div id="portfolio" class="portfolio grid-container portfolio-1 clearfix">

				<article class="portfolio-item pf-uielements pf-icons clearfix">
					<div class="portfolio-image">
						<a href="/tutorials/1">
							<img src="/assets/theme/portfolio/1/7.jpg" alt="Backpack Contents">
						</a>
						<div class="portfolio-overlay">
							<a href="https://www.youtube.com/watch?v=8c3i5yJ89go" class="left-icon" data-lightbox="iframe"><i class="icon-line-play"></i></a>
							<a href="/tutorials/1" class="right-icon"><i class="icon-line-ellipsis"></i></a>
						</div>
					</div>
					<div class="portfolio-desc">
						<h3><a href="/tutorials/1">Manage your programs!</a></h3>
						<p>Learn how to manage shortcuts in your dock, quickly open any program only using your keyboard, and configure your computer settings!</p>
						<ul class="iconlist">
							<li><i class="icon-ok"></i> <strong>Published:</strong> 2nd April, 2014</li>
							<li><i class="icon-ok"></i> <strong>By:</strong> Peter Jang</li>
						</ul>
						<a href="/tutorials/1" class="float-right">Read more</a>
					</div>
				</article>

				<article class="portfolio-item pf-uielements pf-icons clearfix">
					<div class="portfolio-image">
						<a href="/tutorials/1">
							<img src="/assets/theme/portfolio/1/7.jpg" alt="Backpack Contents">
						</a>
						<div class="portfolio-overlay">
							<a href="https://www.youtube.com/watch?v=ZpgP2KQ1zgk" class="left-icon" data-lightbox="iframe"><i class="icon-line-play"></i></a>
							<a href="/tutorials/1" class="right-icon"><i class="icon-line-ellipsis"></i></a>
						</div>
					</div>
					<div class="portfolio-desc">
						<h3><a href="/tutorials/1">Analyze your disk space!</a></h3>
						<p>Learn how to use your file manager to determine what's taking up room on your hard drive, get an overview of all files, and properly delete files and applications!</p>
						<ul class="iconlist">
							<li><i class="icon-ok"></i> <strong>Published:</strong> 2nd April, 2014</li>
							<li><i class="icon-ok"></i> <strong>By:</strong> Peter Jang</li>
						</ul>
						<a href="/tutorials/1" class="float-right">Read more</a>
					</div>
				</article>
				</article>

				<article class="portfolio-item pf-uielements pf-icons clearfix">
					<div class="portfolio-image">
						<a href="/tutorials/1">
							<img src="/assets/theme/portfolio/1/7.jpg" alt="Backpack Contents">
						</a>
						<div class="portfolio-overlay">
							<a href="https://www.youtube.com/watch?v=WVpKsyIr3qE" class="left-icon" data-lightbox="iframe"><i class="icon-line-play"></i></a>
							<a href="/tutorials/1" class="right-icon"><i class="icon-line-ellipsis"></i></a>
						</div>
					</div>
					<div class="portfolio-desc">
						<h3><a href="/tutorials/1">Monitor your system!</a></h3>
						<p>Learn how to use your system monitor to identify and properly close programs slowing down your computer and use shortcuts to monitor your system resources at a glance!</p>
						<ul class="iconlist">
							<li><i class="icon-ok"></i> <strong>Published:</strong> 2nd April, 2014</li>
							<li><i class="icon-ok"></i> <strong>By:</strong> Peter Jang</li>
						</ul>
						<a href="/tutorials/1" class="float-right">Read more</a>
					</div>
				</article>
				</article>

				<article class="portfolio-item pf-uielements pf-icons clearfix">
					<div class="portfolio-image">
						<a href="/tutorials/1">
							<img src="/assets/theme/portfolio/1/7.jpg" alt="Backpack Contents">
						</a>
						<div class="portfolio-overlay">
							<a href="https://www.youtube.com/watch?v=P3EbLHGmuwo" class="left-icon" data-lightbox="iframe"><i class="icon-line-play"></i></a>
							<a href="/tutorials/1" class="right-icon"><i class="icon-line-ellipsis"></i></a>
						</div>
					</div>
					<div class="portfolio-desc">
						<h3><a href="/tutorials/1">Customize your system preferences!</a></h3>
						<p>Learn how to prevent programs from starting up with your computer, control automatic downloads and updates, disable animations, and more!</p>
						<ul class="iconlist">
							<li><i class="icon-ok"></i> <strong>Published:</strong> 2nd April, 2014</li>
							<li><i class="icon-ok"></i> <strong>By:</strong> Peter Jang</li>
						</ul>
						<a href="/tutorials/1" class="float-right">Read more</a>
					</div>
				</article>

			</div><!-- #portfolio end -->
		</div>
	</div>
</section><!-- #content end -->
