
		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<!-- Post Content
					============================================= -->
					<div class="postcontent nobottommargin clearfix">

						<div class="single-post nobottommargin">

							<!-- Single Post
							============================================= -->
							<div class="entry clearfix">

								
								<div class="col_full portfolio-single-image">
									<iframe width="500" height="315" src="https://www.youtube.com/embed/8c3i5yJ89go" frameborder="0" allowfullscreen></iframe>
								</div>

								<!-- Entry Content
								============================================= -->
								<div id="tutorial-content" class="entry-content notopmargin">
									
									<!-- Entry Title
									============================================= -->
									<div class="fancy-title title-dotted-border">
										<h2>Manage your programs!</h2>
									</div><!-- .entry-title end -->

									<h3>To remove a program from the dock:</h3>
									<ul>
										<li>Right click the program icon in the Dock</li>
										<li>Select Options => Remove from Dock</li>
									</ul>
									<h3>To open a program without using the Dock:</h3>
									<ul>
										<li>Press F4 to open up the Launchpad (which shows all installed programs)</li>
										<li>Start typing in the name of the program</li>
										<li>Press Enter.</li>
									</ul>
									<h3>To add a program shortcut to the Dock:</h3>
									<ul>
										<li>Open the program (using the Launchpad)</li>
										<li>Right click the program icon in the Dock</li>
										<li>Select Options => Keep in Dock</li>
									</ul>
									<h3>To configure other Dock options:</h3>
									<ul>
										<li>Right click the Dock on an area without any program icons</li>
										<li>Click on any option</li>
									</ul>
									<h2>Exercises:</h2>
									<ul>
										<li>Remove all programs you don’t use from your dock.</li>
										<li>Configure your Dock to auto-hide on the left side of the screen.</li>
									</ul>
									
									<div class="clear"></div>

									<!-- Post Single - Share
									============================================= -->
									<br>
									<div id="tutorial-share" class="si-share noborder clearfix">
										<span>Share this Lesson:</span>
										<div>
											<a href="#" class="social-icon si-borderless si-facebook">
												<i class="icon-facebook"></i>
												<i class="icon-facebook"></i>
											</a>
											<a href="#" class="social-icon si-borderless si-twitter">
												<i class="icon-twitter"></i>
												<i class="icon-twitter"></i>
											</a>
											<a href="#" class="social-icon si-borderless si-pinterest">
												<i class="icon-pinterest"></i>
												<i class="icon-pinterest"></i>
											</a>
											<a href="#" class="social-icon si-borderless si-gplus">
												<i class="icon-gplus"></i>
												<i class="icon-gplus"></i>
											</a>
											<a href="#" class="social-icon si-borderless si-rss">
												<i class="icon-rss"></i>
												<i class="icon-rss"></i>
											</a>
											<a href="#" class="social-icon si-borderless si-email3">
												<i class="icon-email3"></i>
												<i class="icon-email3"></i>
											</a>
										</div>
									</div><!-- Post Single - Share End -->

								</div>
							</div><!-- .entry end -->

							<!-- Post Navigation
							============================================= -->
							<div class="post-navigation clearfix">

								<div class="col_half nobottommargin">
									<a href="#">&lArr; This is a Standard post with a Slider Gallery</a>
								</div>

								<div class="col_half col_last tright nobottommargin">
									<a href="#">This is an Embedded Audio Post &rArr;</a>
								</div>

							</div><!-- .post-navigation end -->

							<div class="line"></div>

						</div>

					</div><!-- .postcontent end -->

					<!-- Sidebar
					============================================= -->
					<div class="sidebar nobottommargin col_last clearfix">
						<div class="sidebar-widgets-wrap">
							
							<div class="widget clearfix nobottommargin">
								<h4>Next up:</h4>
								<div id="post-list-footer">

									<div class="spost clearfix">
										<div class="entry-image">
											<a href="#" class="nobg"><i class="i-rounded i-bordered icon-laptop2"></i></a>
										</div>
										<div class="entry-c">
											<div class="entry-title">
												<h4><a href="#">Analyze your disk space!</a></h4>
											</div>
											<ul class="entry-meta">
												<li>10th July 2014</li>
											</ul>
										</div>
									</div>

									<div class="spost clearfix">
										<div class="entry-image">
											<a href="#" class="nobg"><i class="i-rounded i-bordered icon-laptop2"></i></a>
										</div>
										<div class="entry-c">
											<div class="entry-title">
												<h4><a href="#">Monitor your system!</a></h4>
											</div>
											<ul class="entry-meta">
												<li>10th July 2014</li>
											</ul>
										</div>
									</div>

									<div class="spost clearfix">
										<div class="entry-image">
											<a href="#" class="nobg"><i class="i-rounded i-bordered icon-laptop2"></i></a>
										</div>
										<div class="entry-c">
											<div class="entry-title">
												<h4><a href="#">Customize your system preferences!</a></h4>
											</div>
											<ul class="entry-meta">
												<li>10th July 2014</li>
											</ul>
										</div>
									</div>
									<div class="spost clearfix">
										<h4><a href="/tutorial/lessons">Back to all lessons</a></h4>
									</div>
								</div>

							</div>
							
							

						</div>

					</div><!-- .sidebar end -->



					

				</div>

			</div>

		</section><!-- #content end -->
