<!-- Content
============================================= -->
<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">
			<!-- Post Content
			============================================= -->
			<div class="postcontent nobottommargin clearfix">
				<div class="single-post nobottommargin">
					<!-- Single Post
					============================================= -->
					<div class="entry clearfix">
						<div class="col_full portfolio-single-image">
							<iframe width="500" height="315" src="https://www.youtube.com/embed/Re3TzegrhsI" frameborder="0" allowfullscreen></iframe>
						</div>
						<!-- Entry Content
						============================================= -->
						<div id="tutorial-content" class="entry-content notopmargin">
							<!-- Entry Title
							============================================= -->
							<div class="fancy-title title-dotted-border title-center">
								<h2>Save time with keyboard shortcuts!</h2>
							</div><!-- .entry-title end -->
							<h3>Manage text and files:</h3>
							<ul>
								<li>Copy: <code>Command ⌘</code> + <code>C</code></li>
								<li>Paste: <code>Command ⌘</code> + <code>V</code></li>
								<li>Undo: <code>Command ⌘</code> + <code>Z</code></li>
								<li>Redo: <code>Command ⌘</code> + <code>Shift ⇧</code> + <code>Z</code></li>
							</ul>
							<h3>Create new tabs or windows:</h3>
							<ul>
								<li>New tab: <code>Command ⌘</code> + <code>T</code></li>
								<li>New window: <code>Command ⌘</code> + <code>N</code></li>
								<li>Close tab or window: <code>Command ⌘</code> + <code>W</code></li>
							</ul>
							<h3>Navigating between windows:</h3>
							<ul>
								<li>Switch between windows for different programs: <code>Command ⌘</code> + <code>Tab ⇥</code></li>
								<li>Switch between windows for the same program: <code>Command ⌘</code> + <code>`</code></li>
							</ul>
							<h2>Exercises:</h2>
							<ul>
								<li>Practice keyboard shortcuts by avoiding the mouse as much as possible. Each time you are forced to use the mouse, look up the keyboard shortcut that accomplishes the same effect.</li>
								<li>Explore the menu of any program to learn new keyboard shortcuts.</li>
							</ul>
							<div class="clear"></div>
							<br>
							<%= render 'share_buttons.html.erb' %>
						</div>
					</div><!-- .entry end -->
					<%= render 'post_navigation.html.erb' %>
					<div class="line"></div>
				</div>
			</div><!-- .postcontent end -->
			<!-- Sidebar
			============================================= -->
			<div class="sidebar nobottommargin col_last clearfix">
				<div class="sidebar-widgets-wrap">
					<%= render 'next_lessons.html.erb' %>
				</div>
			</div><!-- .sidebar end -->
		</div>
	</div>
</section><!-- #content end -->
