<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="postcontent nobottommargin clearfix">
        <div class="single-post nobottommargin">
          <div class="entry clearfix">
            <div class="col_full portfolio-single-image">
              <!-- VIDEO CONTENT -->
              <iframe width="500" height="315" src="https://www.youtube.com/embed/dViNFpEeqlg?rel=0&showinfo=0?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="tutorial-content" class="entry-content notopmargin">
              <div class="fancy-title title-dotted-border title-center">
                <h2><%= @lesson_title %></h2>
              </div>
              <!-- BODY START -->
              <h3>Exercises</h3>
              <div class="rating" style="color:#fed130" >
                <i class="glyphicon glyphicon-star" ></i>
                <i class="glyphicon glyphicon-star-empty" ></i>
                <i class="glyphicon glyphicon-star-empty" ></i>
                <i class="glyphicon glyphicon-star-empty" ></i>
                <i class="glyphicon glyphicon-star-empty" ></i>
              </div>
              <p>Complete the Recipe Exercise:</p>

              <p>In JSFiddle (http://jsfiddle.net), create your own webpage which will represent a cooking recipe. So you'll be using various HTML elements to build a page that will be similar to a page in a cookbook. While you can, of course, use a real recipe, fake recipes are so much more fun. Please include the following HTML elements: &#60;h1>, &#60;h2>, &#60;h3>, &#60;p>, &#60;ol>, &#60;li>. and &#60;ul>. While I didn't cover &#60;ul> in the screencast, it's an unordered list. That is, it represents a list of items where it doesn't matter in which order the items appear. You use it the same way as an ordered list (with the &#60;li>'s inside of it), but you use &#60;ul> instead of &#60;ol>.</p>

              <p>Exercise:</p>
              <p>Save your JSFiddle exercise and post the link below.</p>
              <!-- BODY END -->
              <div class="clear"></div>
              <br>
              <%= render 'share_buttons.html.erb' %>
            </div>
          </div>
          <%= render 'post_navigation.html.erb' %>
          <div class="line"></div>
        </div>
      </div>
      <div class="sidebar nobottommargin col_last clearfix">
        <div class="sidebar-widgets-wrap">
          <%= render 'next_lessons.html.erb' %>
        </div>
      </div>
    </div>
  </div>
</section>
