<p>Hi <%= @application.first_name %>, </p>

<p>Thanks for submitting an Application to Actualize.</p>

<p>In the meantime if you have any questions, please email us at admissions@actualize.co.</p>

<p>Looking forward to connecting soon!
<br>The Actualize Admissions Team</p>




