<p>Hi <%= @application.first_name %>, </p>

<p>Thanks for submitting an Application to Actualize. Your Admissions Advisor will be in touch with you soon to schedule your Initial Call and confirm your Interview.</p>

<p>In the meantime if you have any questions, please email us at admissions@actualize.co.</p>

<p>Looking forward to connecting soon!
<br>The Actualize Admissions Team</p>




