Hi <%= @student.first_name %>,

<p>Thanks for signing up for the Coding Foundations course.</p>

<p>You will be contacted by someone at Actualize who will get you all set up to join the course.</p>


<p>Looking forward to connecting soon!</p>
The Actualize Team

