<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title></title>
        <style></style>
    </head>
    <body style = "margin: 0; padding: 0;">
        <table bgcolor="###" border="1" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
          <tr>
            <td><p>Hi <%= @corporate_training_message.rep_name %>,</p></td>
            <td><p>Thank you for your interest in Anyone Can Learn To Code's Corporate Training Program. A representative from our team will be in touch with you shortly to schedule your initial consultation.</p></td>
            <td><p>If you have questions for our team in the meantime, please feel free to reply to this email or reach out to us at hello@anyonecanlearntocode.com.</p></td>
            <td><p>Best,</p></td>
            <td><p>The ACLTC Corporate Training Team</p></td>
            <td><img src="acltc-logo-180.png"></td>
          </tr>

        </table>
    </body>
</html>



