<p>Hi <%= @corporate_training_message.rep_name %>, </p>

<p>Thank you for your interest in Anyone Can Learn To Code's Corporate Training Program. A representative from our team will be in touch with you shortly to schedule your initial consultation.</p>

<p>If you have questions for our team in the meantime, please feel free to reply to this email or reach out to us at hello@anyonecanlearntocode.com.</p>

<p>Best,
<br>The ACLTC Corporate Training Team</p>

<table>
  <tr>
    <td><img src="assets/acltc-logo-180.png" alt="ACLTC Logo"></td>
  </tr>
</table>

