<h3>Hello,</h3>
<p>Thanks for signing up for an Actualize info session.</p>
<p>Unfortunately, the info session scheduled for <%= @info_session.friendly_time %> on <%= @info_session.friendly_date %> has been canceled.</p>

<p>Please check our website for future session dates or</p> 
<p>contact us at hello@actualize.co</p>
