<p>Hi <%= @tour.first_name %>, </p>

<p>Thanks for submitting a Tour Request to Actualize. Someone on our team will be in touch with you soon to confirm and discuss your Tour.</p>

<p>In the meantime if you have any questions, please email us at admissions@actualize.co.</p>

<p>Looking forward to connecting soon!
<br>The Actualize Admissions Team</p>






