<p>Hi <%= @tour.full_name %>, </p>

<p>Thank you for submitting a tour application. A representative from our team will be in touch with you shortly.</p>

<p>If you have questions for our team in the meantime, please feel free to reply to this email or reach out to us at admissions@anyonecanlearntocode.com.</p>

<p>Best,
<br>The ACLTC Corporate Training Team</p>

<img src="https://s3-us-west-2.amazonaws.com/acltc-website-images/acltc_email_logo_200x50.png">