// Place all the styles related to the applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


textarea.form-control {
  height: 250px;
}

#application_scholarship_applicant_true, #application_scholarship_applicant_false {
  margin-left: -5px;
}

.center-warning {
  text-align: center;
}

label.required:after {
  content: "*";
  color: red;
  font-size: 25px;
  vertical-align: middle;
}

.radio label {
  margin-right: 10px; 
}

#application_location_chicago, #application_location_san_francisco, #application_location_new_york_city, #application_woman_true, #application_woman_false, #application_minority_true, #application_minority_false {
  margin-left: -5px;
}

.jumbo-thanks {
  text-align: center;
  margin: 50px 0 100px 0;
}