/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require theme/bootstrap
 *= require theme/style
 *= require theme/dark
 *= require theme/font-icons
 *= require theme/animate
 *= require theme/magnific-popup
 *= require theme/responsive
 *= require prism
 *= require_self
 *= require_tree .
 */

 @import 'bootstrap-sprockets';
 @import 'bootstrap';
 @import 'bootstrap-datetimepicker';
$color-neutral: #eaeaea;
 .admin-dashboard a {
   text-decoration: none;
   color: #1ABC9C;
   line-height: 21px;
 }

 .index-dash-table a {
   color: #1ABC9C;
 }

 ul {
   margin-bottom: 30px;
 }

 .h4-margin {
   font-weight: 600;
 }

 .diversity-scholarship {
    color: #315952;
 }

 .new-scholarship {
    color: #7a3333;
 }