// Place all the styles related to the blog_posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#blog_section {
  height: 500px;
}

textarea.write-html{
  height: 1000px;
}

#blog_admin_list {
  list-style-type: none;
}


