// Place all the styles related to the blog_posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#blog_section {
  height: 500px;
}

textarea.write-html{
  height: 1000px;
}

#blog_admin_list {
  list-style-type: none;
}

.main-text {
 margin-top: 20px; 
}

.publish-warning {
  color: red !important;
}

// -------------- OVERWRITE THEME -------------- //
.entry-meta li {
  float: none !important;
  font-size: 16px !important;
  color: #333333;
  font-style: normal;
  line-height: normal !important;
  font-family: 'Maven Pro', sans-serif !important;
  list-style-type: disc;
  list-style-position: outside;
  text-indent: -1em;
  padding-left: 1em;
}
.entry-meta li:before{
  content: none !important;
}

.entry-meta ul {
  list-style-position: inside;
}

// ------------- END OVERWRITE THEME -----------------??