// Place all the styles related to the corporate_training_messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.corp-start-date {
  input {
    height: 41px;
  }
}

.corp-select {
  height: 41px;
}

.collection-check-box {
  display: inline-block;
  margin: 10px;

  input {
    min-width: 6%;
  }
}

.chosen-container {
  border: 2px solid #ddd;

  .chosen-choices {
    border: 0;
  }
}