// Place all the styles related to the lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tutorial-content ul, ol {
  margin-left: 2em;
  font-size: 1.1em;
}

.tutorial-content ol > li {
  margin-bottom: 3em;
}

.tutorial-content pre {
  margin-top: 1em;
  margin-bottom: 1em;
}

.tutorial-share div {
  float: inherit;
}

.tutorial-tabs > div {
  margin-top: 10px;
}

.lesson-time {
  float: right;
  color: #aaa !important;
  margin: 0;
  padding: 0;
}

html.plat_osx .plat_win {
  display: none;
}

html.plat_win .plat_osx {
  display: none;
}