<%= render "/layouts/page_title", page_title: "Job Openings", page_subtitle: "Create A New Job Opening" %>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h3>New Job Listing Information</h3>
  </div>
  <div class="col-md-2"></div>
</div>
<%= render "form", submit_button: "Create Job", additional_edit_info: "" %>