<%= render "/layouts/page_title", page_title: "Mini Courses", page_subtitle: "Get Additional Skills" %>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
  <h2>Edit Mini Course</h2>
    <%= render "form", submit_button: "Edit Mini Course" %>
  </div>
  <div class="col-md-2"></div>
</div>