<section class="image-bg overlay fullscreen cover parallax">
    <div class="background-image-holder darken-image">
        <img alt="image" class="background-image" src="/img/cover15.jpg" />
    </div>
    <div class="container v-align-transform">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
                <img alt="logo" class="mb48 mb-xs-16 fade-1-4" src="/img/actualize-logo.png" />
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="large bold big-bold">
                    Becoming tech savvy
                </h1>
                <h3>
                    A guide to mastering your computer
                </h3>
            </div>
        </div>
        <!--end of row-->
        <!-- <div class="row">
            <div class="col-sm-12 text-center">
                <a class="btn btn-lg" href="/apply">Apply Now</a>
            </div>
        </div> -->
    </div>
    <!--end of container-->
</section>
            
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="post-snippet mb64">
                    <div class="post-title">
                        <!-- <span class="label">23 Sep</span> -->
                        <h3 class="inline-block">What does it mean to be tech savvy?</h3>
                    </div>
                    <p>
                        Michael Hartl, the author of The Ruby on Rails Tutorial, describes technical sophistication in the following passage:
                    </p>
                    <blockquote>
                        It made me realize that, as important as programming is, it’s only one part of the much more general and powerful idea of <strong>technical sophistication</strong>, the combination of hard and soft skills that gives you the seemingly magical ability to solve any technical problem. Technical sophistication includes concrete skills like command lines, text editors, and coding, as well as fuzzier skills like Googling the error message and knowing when to just reboot the darn thing.
                    </blockquote>
                    <div class="post-title">
                        <!-- <span class="label">23 Sep</span> -->
                        <h3 class="inline-block">Why is it important to be tech savvy?</h3>
                    </div>
                    <p>
                        The world is becoming increasingly computerized and data driven. Even highly mechanical jobs like repairing cars are becoming impossible without a working understanding of computers.
                    </p>
                    <p>
                        People are interacting with technology like iPads practically since birth, but are never exposed to how things work under the hood. This creates a divide between people who can only consume existing technology versus people who can create new technology.
                    </p>
                    <p>
                        In particular, people aspiring to be computer programmers often focus only on learning to code and don’t focus on understanding how computers work in general. This creates a large foundational gap that limits their ability to gain a deep understanding of programming as a craft.
                    </p>
                    <div class="post-title">
                        <!-- <span class="label">23 Sep</span> -->
                        <h3 class="inline-block">What skills does it take to be tech savvy?</h3>
                    </div>

                    <section class="page-title page-title-4 image-bg overlay">
                        <div class="background-image-holder">
                            <img alt="Background Image" class="background-image" src="/img/cover14.jpg" />
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3">
                                    <h3 class="uppercase mb0">Understand computer hardware</h3>
                                </div>
                                <div class
                            </div>
                            <!--end of row-->
                        </div>
                        <!--end of container-->
                    </section>

                    <ul class="lead list-group-non-rounded" data-bullet="ti-arrow-right">
                        <li class="list-group-item"><a href="/becoming-tech-savvy/the-four-computer-components-that-affect-speed">Identify internal components (cpu, motherboard, ram, hard drive, etc.)</a></li>
                        <li class="list-group-item">Identify external input output ports</li>
                        <li class="list-group-item">Explain cpu features (clock frequency, cores, cache, Moore’s law)</li>
                        <li class="list-group-item">Explain cpu vs ram vs disk space usage</li>
                        <li class="list-group-item">Explain desktop vs mobile hardware architecture</li>
                        <li class="list-group-item">Build a computer from scratch</li>
                    </ul>

                    <section class="page-title page-title-4 image-bg overlay">
                        <div class="background-image-holder">
                            <img alt="Background Image" class="background-image" src="/img/cover10.jpg" />
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3">
                                    <h3 class="uppercase mb0">Run programs</h3>
                                </div>
                                <div class
                            </div>
                            <!--end of row-->
                        </div>
                        <!--end of container-->
                    </section>

                    <ul class="lead list-group-non-rounded" data-bullet="ti-arrow-right">
                      <li class="list-group-item">Run any program from a shortcut or keyboard command</li>
                      <li class="list-group-item">Monitor CPU and RAM usage</li>
                      <li class="list-group-item">Install new programs</li>
                      <li class="list-group-item">Use keyboard shortcuts within programs</li>
                      <li class="list-group-item">Manage windows and virtual desktops</li>
                      <li class="list-group-item">Manage startup and background processes</li>
                      <li class="list-group-item">Use the command line</li>
                      <li class="list-group-item">Install programs from the command line</li>
                      <li class="list-group-item">Use programs to automate tasks</li>
                    </ul>

                    <section class="page-title page-title-4 image-bg overlay">
                        <div class="background-image-holder">
                            <img alt="Background Image" class="background-image" src="/img/cover12.jpg" />
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3">
                                    <h3 class="uppercase mb0">Manage data</h3>
                                </div>
                                <div class
                            </div>
                            <!--end of row-->
                        </div>
                        <!--end of container-->
                    </section>

                    <ul class="lead list-group-non-rounded" data-bullet="ti-arrow-right">
                      <li class="list-group-item">Identify the folder structure of your operating system</li>
                      <li class="list-group-item">Identify different file extensions</li>
                      <li class="list-group-item">Organize files and folders</li>
                      <li class="list-group-item">Manage disk space</li>
                      <li class="list-group-item">Back up data</li>
                      <li class="list-group-item">Use zip files</li>
                      <li class="list-group-item">Edit plain text files</li>
                      <li class="list-group-item">Organize data in a spreadsheet</li>
                    </ul>

                    <section class="page-title page-title-4 image-bg overlay">
                        <div class="background-image-holder">
                            <img alt="Background Image" class="background-image" src="/img/cover11.jpg" />
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3">
                                    <h3 class="uppercase mb0">Use the internet</h3>
                                </div>
                                <div class
                            </div>
                            <!--end of row-->
                        </div>
                        <!--end of container-->
                    </section>

                    <ul class="lead list-group-non-rounded" data-bullet="ti-arrow-right">
                      <li class="list-group-item">Install different web browsers</li>
                      <li class="list-group-item">Search the web effectively</li>
                      <li class="list-group-item">Manage email effectively</li>
                      <li class="list-group-item">Avoid malicious websites</li>
                      <li class="list-group-item">Configure a router</li>
                      <li class="list-group-item">Manage passwords effectively</li>
                      <li class="list-group-item">Upload files to the web</li>
                      <li class="list-group-item">Create a website (with a website or do-it-yourself)</li>
                    </ul>

                </div>
                <!--end of post snippet-->

            </div>
            <!--end of nine col-->
        </div>
        <!--end of container row-->
    </div>
    <!--end of container-->
</section>
