<section class="image-bg overlay fullscreen cover parallax">
    <div class="background-image-holder darken-image">
        <img alt="image" class="background-image" src="/img/cover15.jpg" />
    </div>
    <div class="container v-align-transform">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
                <img alt="logo" class="mb48 mb-xs-16 fade-1-4" src="/img/actualize-logo.png" />
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="large bold big-bold">
                    Becoming tech savvy
                </h1>
                <h3>
                    A guide to mastering your computer
                </h3>
            </div>
        </div>
        <!--end of row-->
        <!-- <div class="row">
            <div class="col-sm-12 text-center">
                <a class="btn btn-lg" href="/apply">Apply Now</a>
            </div>
        </div> -->
    </div>
    <!--end of container-->
</section>
            
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="post-snippet mb64">
                    <div class="post-title">
                        <!-- <span class="label">23 Sep</span> -->
                        <h3 class="inline-block">What does it mean to be tech savvy?</h3>
                    </div>
                    <p>
                        Being tech savvy is about understanding technology well enough to fix your own problems. Most people know at least one tech savvy person - they’re the ones with the seemingly magical powers that can fix your internet, printer, etc. Being tech savvy is not the same as being “computer literate”, which is more about being able to use computers and technology. We live in a strange time where people have grown up with user-friendly devices such as smartphones and tablets since childhood, resulting in almost everyone being highly computer literate but not at all tech savvy.
                    </p>
                    <p>
                        Being tech savvy is about understanding the hardware and software components that exist beneath the convenient user interfaces. It’s similar to cars - most people are capable of driving their cars, but are completely incapable of fixing their cars. To be fair, not everybody needs to understand how to fix their cars, as you can always take a car to a mechanic for repairs. But there’s something different about technology.
                    </p>
                    <div class="post-title">
                        <!-- <span class="label">23 Sep</span> -->
                        <h3 class="inline-block">Why is it important to be tech savvy?</h3>
                    </div>
                    <p>
                        In 2011, Marc Andreessen wrote a famous article called <a href="https://a16z.com/2016/08/20/why-software-is-eating-the-world/" target="_blank">Why Software is Eating the World</a>. By now you could argue software has practically swallowed the world whole. From a business perspective, every company today must operate as a technology company, regardless of the product or service provided. From an individual perspective, technology has crept into every part of our everyday lives, from smartphones to cars to refrigerators to doorbells. In today’s world, technology is inescapable.
                    </p>
                    <p>
                        So why is it important to be tech savvy? Understanding how technology works isn’t required to be able to use it - in fact, you can be a very fluent user of technology without being tech savvy at all. However, as technology becomes a larger part of every industry, every job in some sense becomes a technology job. Which means it will no longer be sufficient to be a consumer of technology - you need to be tech savvy in order to create new technology, which is now required in today’s economy.
                    </p>
                    <p>
                        In other words, being tech savvy is the new literacy.
                    </p>
                    <p>
                        Note that being tech savvy isn’t necessarily the same as being a computer programmer. There recently has been a huge push to teach all children programming in schools, with the idea that programming is the new literacy. But again, programming isn’t the same thing as being tech savvy. Using the car analogy, being tech savvy is understanding how a car works under the hood, which gives you the ability to maintain and repair your own car efficiently. A computer programmer would then be a person who manufactures cars - not the same thing. If cars were eating the world, everyone should know how cars work under the hood, but not everyone should become a car manufacturer.
                    </p>
                    <p>
                        This isn’t to say that people shouldn’t learn how to code - if the craft appeals to you, you should definitely go for it! In this case, being tech savvy is even more relevant. Unfortunately, most learning resources try to avoid all the complexity that comes with getting started with computer programming. This creates a large foundational gap that limits a student’s ability to gain a deep understanding of software development as a craft. Allen Downey notes that <a href="http://allendowney.blogspot.com/2018/02/learning-to-program-is-getting-harder.html?m=1" target="_blank">learning to program is getting harder</a>, precisely because most people skip the step of learning to be tech savvy before they try learning to code. For aspiring programmers and non-programmers alike, being tech savvy is a crucial part of working in today’s technological world.
                    </p>
                    <div class="post-title">
                        <!-- <span class="label">23 Sep</span> -->
                        <h3 class="inline-block">How can I learn to be tech savvy?</h3>
                    </div>
                    <p>
                        Being tech savvy is like being good at art or good at math - it’s not something you’re born with, it is very much a learnable skill. If you’re not tech savvy, it is often because you were not exposed to interacting with the complex hardware and software that exists underneath today’s convenient user friendly interfaces.
                    </p>
                    <p>
                        Below is a list of articles that cover the foundational skills for being tech savvy. These articles start with no assumed prior knowledge, meaning you can get in on the ground floor. By reading these articles, you will set yourself on the increasingly important path of becoming tech savvy.
                    </p>
                    <section class="page-title page-title-4 image-bg overlay">
                        <div class="background-image-holder">
                            <img alt="Background Image" class="background-image" src="/img/understand-computer-hardware.jpg" />
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3">
                                    <h3 class="uppercase mb0">Understand computer hardware</h3>
                                </div>
                                <div class
                            </div>
                            <!--end of row-->
                        </div>
                        <!--end of container-->
                    </section>

                    <ul class="lead list-group-non-rounded" data-bullet="ti-arrow-right">
                        <li class="list-group-item"><a href="/becoming-tech-savvy/the-four-computer-components-that-affect-speed">Identify internal components (cpu, motherboard, ram, hard drive, etc.)</a></li>
                        <li class="list-group-item">Identify external input output ports</li>
                        <li class="list-group-item">Explain cpu features (clock frequency, cores, cache, Moore’s law)</li>
                        <li class="list-group-item">Explain cpu vs ram vs disk space usage</li>
                        <li class="list-group-item">Explain desktop vs mobile hardware architecture</li>
                        <li class="list-group-item">Build a computer from scratch</li>
                    </ul>

                    <section class="page-title page-title-4 image-bg overlay">
                        <div class="background-image-holder">
                            <img alt="Background Image" class="background-image" src="/img/run-programs.jpg" />
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3">
                                    <h3 class="uppercase mb0">Run programs</h3>
                                </div>
                                <div class
                            </div>
                            <!--end of row-->
                        </div>
                        <!--end of container-->
                    </section>

                    <ul class="lead list-group-non-rounded" data-bullet="ti-arrow-right">
                      <li class="list-group-item">Run any program from a shortcut or keyboard command</li>
                      <li class="list-group-item">Monitor CPU and RAM usage</li>
                      <li class="list-group-item">Install new programs</li>
                      <li class="list-group-item">Use keyboard shortcuts within programs</li>
                      <li class="list-group-item">Manage windows and virtual desktops</li>
                      <li class="list-group-item">Manage startup and background processes</li>
                      <li class="list-group-item">Use the command line</li>
                      <li class="list-group-item">Install programs from the command line</li>
                      <li class="list-group-item">Use programs to automate tasks</li>
                    </ul>

                    <section class="page-title page-title-4 image-bg overlay">
                        <div class="background-image-holder">
                            <img alt="Background Image" class="background-image" src="/img/manage-data.jpg" />
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3">
                                    <h3 class="uppercase mb0">Manage data</h3>
                                </div>
                                <div class
                            </div>
                            <!--end of row-->
                        </div>
                        <!--end of container-->
                    </section>

                    <ul class="lead list-group-non-rounded" data-bullet="ti-arrow-right">
                      <li class="list-group-item">Identify the folder structure of your operating system</li>
                      <li class="list-group-item">Identify different file extensions</li>
                      <li class="list-group-item">Organize files and folders</li>
                      <li class="list-group-item">Manage disk space</li>
                      <li class="list-group-item">Back up data</li>
                      <li class="list-group-item">Use zip files</li>
                      <li class="list-group-item">Edit plain text files</li>
                      <li class="list-group-item">Organize data in a spreadsheet</li>
                    </ul>

                    <section class="page-title page-title-4 image-bg overlay">
                        <div class="background-image-holder">
                            <img alt="Background Image" class="background-image" src="/img/use-the-internet.jpg" />
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3">
                                    <h3 class="uppercase mb0">Use the internet</h3>
                                </div>
                                <div class
                            </div>
                            <!--end of row-->
                        </div>
                        <!--end of container-->
                    </section>

                    <ul class="lead list-group-non-rounded" data-bullet="ti-arrow-right">
                      <li class="list-group-item">Install different web browsers</li>
                      <li class="list-group-item">Search the web effectively</li>
                      <li class="list-group-item">Manage email effectively</li>
                      <li class="list-group-item">Avoid malicious websites</li>
                      <li class="list-group-item">Configure a router</li>
                      <li class="list-group-item">Manage passwords effectively</li>
                      <li class="list-group-item">Upload files to the web</li>
                      <li class="list-group-item">Create a website (with a website or do-it-yourself)</li>
                    </ul>

                </div>
                <!--end of post snippet-->

            </div>
            <!--end of nine col-->
        </div>
        <!--end of container row-->
    </div>
    <!--end of container-->
</section>
