<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <%= favicon_link_tag 'favicon.png' %>
        <% if content_for?(:head) %>
            <%= yield(:head) %>
        <% else %>
            <title> Actualize </title>
            <meta name="description" content='Actualize is a code school and apprenticeship that mentors you from start to finish in transforming yourself into a software developer. With our guidance and your drive, you will gain the skills and real world experience to launch a career that will change your life.'>
        <% end %>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
        <!-- <link href="/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" /> -->
        <!-- <link href="/css/ytplayer.css" rel="stylesheet" type="text/css" media="all" /> -->
        <link href="/css/theme-nature20180201727.css" rel="stylesheet" type="text/css" media="all" />
        <!-- <link href="/css/font-georgia.css" rel="stylesheet" type="text/css" media="all" /> -->
        <link href="/css/custom20170718944.css" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">
        <!-- <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet"> -->
        <!-- <link href='https://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'> -->
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
        <script src="/js/jquery.min.js"></script>
    </head>
    <body class="scroll-assist">
        <div class="nav-container">
            <a id="top"></a>
            <nav class="absolute transparent">
                <div class="nav-bar">
                    <div class="module left">
                        <a class="logo" href="/">
                            ACTUALIZE
                        </a>
                    </div>
                    <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                        <i class="ti-menu"></i>
                    </div>
                    <div class="module-group right">
                        <div class="module left">
                            <ul class="menu">
                                <li class="">
                                    <a href="/apply">
                                        Apply Now
                                    </a>
                                </li>
                                <li class="">
                                    <a href="/in-person">
                                        In-Person
                                    </a>
                                </li>
                                <li class="">
                                    <a href="/online">
                                        Online Live
                                    </a>
                                </li>
                                <li class="">
                                    <a href="/tutorials">
                                        Tutorials
                                    </a>
                                </li>
                                <li>
                                    <a href="/contacts/new">
                                        Contact Us
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end of menu module-->
                        
                    </div>
                    <!--end of module group-->
                </div>
            </nav>
        </div>

        <div class="main-container">
            
            <%= yield %>
            <%= render 'shared/ga' %>

            <!-- Footer -->
            <footer class="footer-2 bg-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
                            <a href="/">
                                <img alt="Logo" class="image-xs mb32 fade-on-hover" src="/img/actualize-logo.png" />
                            </a>
                            <h5 class="footer-logo fade-1-4">Actualize &copy; 2017</h5>
                            <ul class="list-inline social-list mb0">
                                <li>
                                    <a href="/apply">
                                        Apply
                                    </a>
                                </li>
                                <li>
                                    <a href="/referrals/new">
                                        Refer A Friend
                                    </a>
                                </li>
                                <li>
                                    <a href="/tutorials">
                                        Tutorials
                                    </a>
                                </li>
                                <li>
                                    <a href="/blog_posts">
                                        Blog
                                    </a>
                                </li>
                                <li>
                                    <a href="/contacts/new">
                                        Contact Us
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </footer>
            <!-- End of footer -->
        </div>
        <script src="/js/bootstrap.min.js"></script>
        <!-- <script src="/js/flickr.js"></script> -->
        <script src="/js/flexslider.min.js"></script>
        <!-- <script src="/js/lightbox.min.js"></script> -->
        <!-- <script src="/js/masonry.min.js"></script> -->
        <!-- <script src="/js/twitterfetcher.min.js"></script> -->
        <!-- <script src="/js/spectragram.min.js"></script> -->
        <!-- <script src="/js/ytplayer.min.js"></script> -->
        <!-- <script src="/js/countdown.min.js"></script> -->
        <script src="/js/smooth-scroll.min.js"></script>
        <script src="/js/parallax.js"></script>
        <script src="/js/scripts.js"></script>
        <script src="/js/custom-scripts.js"></script>
    </body>
</html>
